body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat-Regular",Arial, sans-serif;
}

.menu {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgb(51 51 51 / 22%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    Top: 0;
}

.menu .menu_texto a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat-Black';
    font-weight: 400;
    cursor: pointer;
}

.menu .menu_texto a:hover,
.menu .menu_texto a:focus,
.menu .menu_texto a.active {
    color: yellow;
}

.logo {
    width: 80px;
    height: 80px;
}

.banner {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    background-image: url(/assets/img/cofee.jpg);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 30px;
}

.registro-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.registro-form h1 {
    text-align: center;
}

#sobre-nosotros {
    background-image: url('img/FONDO.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 20px;
}

.contenido-banner {
    text-align: center;
    color: white;
}

.titulo-grande {
    font-size: 30px;
    color: white;
}


.seccion {
    text-align: left;
    padding: 20px; 
  }

  .d_flex {
    flex-direction: row
}

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .flex-item {
    flex-grow: 1;
    margin: 0 10px; 
  }

  .columna {
    text-align: left;
  }


  .columna img {
    max-width: 500%;
    height: auto;
  }

  .columna-mision,
  .columna-vision {
    width: 50%;
  }

  .columna-nuestraInspiración,
  .columna-quienesSomos {
    width: 50%;
  }


  .Montserrat-BlackItalic {
    font-family: 'Montserrat-BlackItalic', sans-serif;
  }

  .fw_800 {
    font-weight: 800;
  }

  .color_black {
    color: black;
  }


  .text_center {
    text-align: center;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(50% - 10px);
  margin-bottom: 60px;
  
}

.item img {
    width: 30%;
    height: auto;
    margin-bottom: 20px;

      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 20px;
      margin-right: 20px;
  }


.item .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.seccion {
  text-align: center;
}

.item img {
  margin-bottom: 0px; 
}

.item h2 {
  margin-bottom: 1px; /* Ajusta el margen inferior del h2 (título) */
}

.item p {
  margin-top: 10px; /* Ajusta el margen superior del párrafo */
}


/* Ajuste de imagenes de menu*/

.item img {
  width: 200px;
  margin-bottom: 0px;
}

/* Ajuste de reseña*/

.reseñas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 }
 
 .reseña {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
 }
 
 .foto-cliente {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
 }
 
 .reseña blockquote {
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-left: 3px solid #ffa500;
 }
 
 .reseña blockquote p {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  margin: 30px 0;
 }

 /* Estilos para el formulario de registro */
 #registroForm {
  max-width: 400px; 
  margin: 0 auto; /* Centra el formulario horizontalmente en la página */
  background-image: url('assets\img\FONDO_registro.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
}

/* Resto de estilos... */


#registroForm label {
  display: block; /* Muestra las etiquetas en una línea nueva */
  margin-bottom: 5px; /* Agrega un pequeño espacio entre las etiquetas y los campos de entrada */
}

#registroForm input,
#registroForm select {
  width: 100%; 
  margin-bottom: 10px; /* Agrega un espacio entre los campos de entrada y selección */
}

#registroForm button {
  background-color: rgba(97, 97, 186, 0.369); 
  color: white; 
  padding: 10px; /* Espaciado interno del botón */
  border: none; /* Elimina el borde del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  width: 100%; /* Hace que el botón ocupe el ancho completo del contenedor */
}

#registroForm button:hover {
  background-color: gainsboro; /* Cambia el color de fondo al pasar sobre el botón */
}


 

 