body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat-Regular",Arial, sans-serif;
}

.menu {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgb(51 51 51 / 22%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    Top: 0;
}

.menu .menu_texto a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat-Black';
    font-weight: 400;
    cursor: pointer;
}

.menu .menu_texto a:hover,
.menu .menu_texto a:focus,
.menu .menu_texto a.active {
    color: yellow;
}

.logo {
    width: 80px;
    height: 80px;
}

.banner {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    background-image: url(/assets/img/cofee.jpg);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 30px;
}

.registro-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.registro-form h1 {
    text-align: center;
}

#sobre-nosotros {
    background-image: url('img/FONDO.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 20px;
}

.contenido-banner {
    text-align: center;
    color: white;
}

.titulo-grande {
    font-size: 30px;
    color: white;
}


.seccion {
    text-align: left;
    padding: 20px; 
  }

  .d_flex {
    flex-direction: row
}

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .flex-item {
    flex-grow: 1;
    margin: 0 10px; 
  }

  .columna {
    text-align: left;
  }


  .columna img {
    max-width: 500%;
    height: auto;
  }

  .columna-mision,
  .columna-vision {
    width: 50%;
  }

  .columna-nuestraInspiración,
  .columna-quienesSomos {
    width: 50%;
  }


  .Montserrat-BlackItalic {
    font-family: 'Montserrat-BlackItalic', sans-serif;
  }

  .fw_800 {
    font-weight: 800;
  }

  .color_black {
    color: black;
  }


  .text_center {
    text-align: center;
  }